
body.dark-mode .container {
    background-color: transparent;
}

body.dark-mode .container p {
  color: rgb(141, 148, 162);
}

body.dark-mode .container-border {
    border: 2px solid rgb(111, 111, 111);
    background-color: transparent;
}


.container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    margin: auto;
    width: 95%;
    padding: 5px 10px 80px 10px;
    border-radius: 30px;
    /* background-color: white; */
}

.container p {
    font-size: 1.2em;
    margin: 0;
    padding: 0;
    color: #0d1117;
}

.container-border {
    background-color: white;
    border-radius: 30px;
    max-width: 1200px;
    margin: auto;
}

.me {
    display: inline-block;
    margin-left: 2.5%;
    width: 150px;
    height: auto;
}