// Body .dark-mode .Photoshop, Body .dark-mode .Figma, Body

.Photoshop {
    background-image: url("../../images/photoshop1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
    background-color: rgb(6, 24, 52);
}

.Figma {
    background-image: url("../../images/figma.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
    background-color: rgb(31, 30, 30);
}

.CDT {
    background-image: url("../../images/CDT.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
    background-color: rgb(74, 127, 246);
}

.CSS {
    background-image: url("../../images/Css3.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
    background-color: rgb(84, 163, 206);
}

.Bootstrap {
    background-image: url("../../images/bootstrap1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
    background-color: rgb(87, 61, 124);
}

.Gith {
    background-image: url("../../images/github1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
    background-color: white;
}

.HTML {
    background-image: url("../../images/html5.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
    background-color: rgb(222, 133, 79);
}

.Javascript {
    background-image: url("../../images/Javascript1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
    background-color: rgb(231, 213, 76);
}

.React {
    background-image: url("../../images/react1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
    background-color: rgb(34, 34, 34);
}

.Material {
    background-image: url("../../images/Material.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
    background-color: white;
}

.Sass {
    background-image: url("../../images/sass.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
    background-color: white;
}

.Tailwind {
    background-image: url("../../images/tailwind.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
    background-color: white;
}