.Photoshop {
    background-image: url("../../images/photoshop.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
}

.Figma {
    background-image: url("../../images/figma.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
}

.CDT {
    background-image: url("../../images/CDT.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
}

.CSS {
    background-image: url("../../images/Css3.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
}

.Bootstrap {
    background-image: url("../../images/bootstrap1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
}

.Gith {
    background-image: url("../../images/github1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
}

.HTML {
    background-image: url("../../images/html5.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
}

.Javascript {
    background-image: url("../../images/Javascript1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
}

.React {
    background-image: url("../../images/react1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
}

.Material {
    background-image: url("../../images/Material.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
}

.Sass {
    background-image: url("../../images/sass.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
}

.Tailwind {
    background-image: url("../../images/tailwind.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
}