// body.dark-mode .proj {
//   back
// }

.proj-page-container {
  margin: auto;
  max-width: 1200px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-auto-rows: 288px;
  gap: 1em 1em;
  padding: 5px 10px 10px 10px;
}

.proj-page-container img {
    width: 100%;
    height: auto;
}

.proj {
    height: auto;
    position: relative;
    width: 273px;
}

.cm {
  background-color: white;
  background-image: url("../../images/caption-me.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.tc {
  background-color: white;
  background-image: url("../../images/True-Crime.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 288px;
}

.swq {
  background-color: white;
  background-image: url("../../images/star-wars-quiz.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.proj-logo {
  height: 100%;
}

// .proj iframe {
//     height: 100%;
//     width: 300px;
// }

.proj-page-container article:nth-child(1) {
  grid-column: 1;
  grid-row: 1;
}

.proj-page-container article:nth-child(2) {
  grid-column: 2;
  grid-row: 1;
}

.proj-page-container article:nth-child(3) {
  grid-column: 3;
  grid-row: 1;
}

.proj-page-container article:nth-child(4) {
  grid-column: 4;
  grid-row: 1;
}
