Body {
    background-color: rgb(246, 242, 242);
}

.home-box{
    width: 80%;
    min-width: 1200px;
    margin: auto;
}

.box {
    border-radius: 32px !important;
    background-color: white;
    border: none !important;
}

.tall {
    height: 576px !important;
}

.sq {
    height: 280px;
}

.long {
    width: 576px !important;
}




@media screen and (min-width: 480px) {
    .box-sq {
      background-color: yellow;
    }
  }

@media screen and (min-width: 768px) {
    .box-sq {
      background-color: green;
    }
  }

@media screen and (min-width: 1024px) {
    .box-sq {
      background-color: blue;
    }
  }

@media screen and (min-width: 1200px) {
    .box-sq {
      background-color: purple;
    }
  }