body.dark-mode .navbar {
    background-color: black !important;
}


.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 10px;
  height: 40px;
}

.logo {
  margin-left: 2vw;
  font-family: "Orelega One", cursive;
  font-weight: 400;
  font-size: 40px;
  background-color: red;
  height: 100%;
  padding: 5px;
  background-image: linear-gradient(
    45deg,
    rgb(135, 208, 184),
    rgb(110, 131, 192)
  );
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

h1:nth-child(3) {
  margin-right: 2vw;
  font-size: 15px;
  font-weight: 100;
}

.navbar {
  width: 20em;
  height: 38px;
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: space-evenly;
  background-color: #dfdfdf;
  border-radius: 35px;
  border: 2px rgb(246, 242, 242) solid;
  transition: all 1.2s ease;
  gap: 10px;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  /* display: inline; */
}

.navbar #nav-btn1,
#nav-btn2,
#nav-btn3,
#nav-btn4 {
  width: 100%;
  text-align: center;
  border-radius: 15px;
  padding: 3px 10px 3px 10px;
  font-weight: 400;
  font-size: 14px;
  z-index: 1;
  display: inline;
}

.active1, .active2, .active3, .active4, .active {
    color: black;
}


.animation {
  position: absolute;
  height: 80%;
  top: auto;
  bottom: auto;
  left: 5px;
  width: 22%;
  background-color: #fff;
  z-index: 0;
  transition: all 0.5s ease 0s;
  border-radius: 35px;
}

.active {
  transition: all 0.7s ease;
  /* background-color: #fff; */
}

#nav-btn1.active ~ .animation {
  margin-left: 0%;
}

#nav-btn2.active ~ .animation {
  margin-left: 23.75%;
}

#nav-btn3.active ~ .animation {
    margin-left: 47.5%;
    width: 27%;
    padding-left: 10px ;
}

#nav-btn4.active ~ .animation {
    margin-left: 75%;
}
