@import url("https://fonts.googleapis.com/css2?family=Orelega+One&display=swap");

.box {
  /* border-radius: 32px;
    background-color: white;
    border: none;
    text-align: center; */
  box-shadow: transparent 0 0 0 2px inset;
  overflow: hidden;
  border-radius: 32px;
  user-select: none;
  will-change: transform;
}



/* ---------------------------------------------------------------------------------------------------------------------------------- */



.intro .button-toggle {
  background-color: rgb(255, 255, 255) !important;
  box-shadow: #f0f2f8 0 0 0 2px;
  position: absolute;
  height: 36px;
  padding: 0 12px;
  top: 20px;
  right: 20px;
  border: none;
  border-radius: 18px;
  background: 0 0;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  transition: all 0.2s ease-out 0s;
  will-change: box-shadow, transform;
}

.intro .button-toggle:hover {
  box-shadow: #e1e1e1bb 0 0 0 5px;
}

.intro .button-toggle p {
  font-size: 14px;
  margin: 0;
  font-family: "Verdana";
  line-height: 24px;
  letter-spacing: 0.25px;
  font-weight: 500;
  color: #0d1117;
  margin-left: 6px;
}

.intro-content {
  position: relative;
  align-items: flex-start;
  padding: 36px 42px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
}

.intro-content img {
  width: 19%;
  height: auto;
  /* transition: transform 0.5s ease; */
}

/* .intro-content img[wobble='1'] {
    animation: wobble 1s 1;
} */

@keyframes fade-in {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes zoom {
    from {
      transform: scale(0, 0);
    }
    to {
      transform: scale(1, 1);
    }
  }

  .animate {
    animation: fade-in 0.5s, zoom 0.5s;
  }

.intro-text {
  text-align: left;
  font-size: 15px;
  margin-top: 29px;
}

.jack {
  font-size: 40px;
  font-weight: 400;
  font-family: "Orelega One", cursive;
}


/* ---------------------------------------------------------------------------------------------------------------------------------- */

.proj-bg-tall {
    width: 288px;
    height: 576px;
}

.skills-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;
  top: 5%;
  gap: 1rem;
  background-color: rgba(105, 133, 197, 0) !important;
  width: 288px;
  height: 90%;
}
.skills-box svg {
  color: rgb(43, 54, 74);
}

.proj-bg-long {
  width: 592px;
  height: 288px;
}

.darkmode {
    display: flex;
    align-items: center;
    justify-content: center;
}

.linkedin {
  display: flex;
  align-items: center;
  background-color: rgb(105, 132, 197);
  color: #f0f2f8;
}

.box-linkedin {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: rgb(105, 132, 197) !important; 
}
.arrow-btn {
  display: flex;
  align-items: center;
  background-color: white;
  width: 5%;
  height: auto;
  position: absolute;
  height: 36px;
  padding: 0 12px;
  bottom: 20px;
  left: 20px;
  border-radius: 100px;
  transition: all 0.2s ease-out 0s;
}
.arrow-btn:hover {
  box-shadow: #e1e1e1bb 0 0 0 5px;
}
.arrow-btn svg {
  width: 12px !important;
  color: #0d1117;
  stroke-width: 1px;
}

.arrow-btn-long {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  color: black;
  width: 30%;
  padding: 5px;
  height: auto;
  text-decoration: none;
  position: absolute;
  height: 36px;
  padding: 0 12px;
  bottom: 20px;
  left: 20px;
  border-radius: 100px;
  transition: all 0.2s ease-out 0s;
}
.arrow-btn-long:hover {
  box-shadow: #e1e1e1bb 0 0 0 5px;
}
.arrow-btn-long svg {
  width: 12px !important;
  color: #0d1117;
  stroke-width: 1px;
}

.btn-text:link, .btn-text:active, .btn-text:visited {
  color: black;
  background-color: transparent;
}
.btn-text:hover {
  color: black;
}

#Arrow_Rotate {
  width: 15px;
}

.box svg {
  width: 100px;
  height: auto;
}

div .github {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgb(114, 212, 181) !important;
  color: #f0f2f8;
  
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.about-content {
  text-align: center;
  margin: auto;
  align-items: center;
  width: 90%;
  height: min-content;
  font-size: 23px;  
}


#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}